* {
    box-sizing: border-box;
}

body {
    font-family: monospace;
    background: #746E7C;
}

.container {
    width: 800px;
    margin: 100px auto 0;
    overflow: hidden;
}

.box_container {
    float: left;
    width: 100%;
    color: #fff;
    position: relative;
}

.box_container .box_left {
    float: left;
    width: 50%;
    position: relative;
    z-index: 2;
    transition: all 0.3s linear 0s;
}

.box_container .box_left.move_left {
    margin-left: -250px;
}

.box_left_top {
    float: left;
    width: 100%;
    background: #363558;
}

.box_left_bottom {
    float: left;
    width: 100%;
    background: #554072;
}

.box_container .box_right {
    float: right;
    width: 50%;
    position: relative;
    z-index: 2;
    transition: all 0.3s linear 0s;
}

.box_container .box_right.move_right {
    margin-right: -250px;
}

.box_right_top {
    float: left;
    width: 100%;
    color: #555;
    background: #DADDDC;
}

.box_right_bottom {
    float: left;
    width: 100%;
    background: #63D39B;
}

.box_left_top,
.box_left_bottom,
.box_right_top,
.box_right_bottom {
    height: 350px;
    padding: 50px;
    text-align: center;
}

.box h1 {
    margin: 85px 0 0;
}

.box:hover h1 {
    animation: titleAnimate 0.3s linear 0s forwards;
}

@keyframes titleAnimate {
    0% {
        margin: 85px 0 0;
    }
    100% {
        margin: 50px 0 0;
    }
}

.box_container p {
    margin: 20px 0;
}

.box_container .btn {
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    opacity: 0;
    padding: 5px 15px;
    border-radius: 10px;
    border: 1px solid #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.box_container .box_right_top .btn {
    color: #555;
    border-color: #555;
}

.box:hover .btn {
    animation: boxAnimate 0.3s linear 0s forwards;
}

@keyframes boxAnimate {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.box_modal {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: url(../../folding_effect/images/icon_cross.png), default;
    opacity: 0;
    transition: all 0.3s linear 0s;
    background: rgba(0, 0, 0, 0.3);
}

.box_modal.open {
    opacity: 1;
    z-index: 3;
}

.box_modal_center {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 490px;
    height: 100%;
    perspective: 2000px;
}

.box_modal_center.open {
    z-index: 5;
}

.box_modal_center .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    color: #555;
    z-index: 5;
}

.box_modal_center:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: #f9fafa;
    transform-origin: left center;
    transform: translateX(100%) rotateY(90deg);
    transition: all 0.3s linear 0s;
}

.box_modal_center.open:before {
    transform: translateX(0);
}

.box_modal_center:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background: #c0c3c3;
    transform-origin: right center;
    transform: translateX(-100%) rotateY(-90deg);
    transition: all 0.3s linear 0s;
}

.box_modal_center.open:after {
    background: #f9fafa;
    transform: translateX(0);
}
