html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

figcaption,
figure,
main {
    display: block;
}

figure {
    margin: 1em 40px;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: inherit;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

dfn {
    font-style: italic;
}

mark {
    background-color: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

audio,
video {
    display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

img {
    border-style: none;
}

svg:not(:root) {
    overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

progress {
    display: inline-block;
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

details,
menu {
    display: block;
}

summary {
    display: list-item;
}

canvas {
    display: inline-block;
}

template {
    display: none;
}

[hidden] {
    display: none;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  end of normalize css  */

* {
    box-sizing: border-box;
}

.clearfix {
    clear: both;
}

body {
    font-family: 'Barlow', sans-serif;
    font-size: 14px;
    line-height: 18px;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  menu  */

nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    height: 100%;
    z-index: 10;
    right: -200px;
    transition: all 0.3s linear 0s;
}

nav.open {
    right: 0;
}

nav>span {
    position: fixed;
    top: 19px;
    right: 20px;
    width: 30px;
    cursor: pointer;
    z-index: 11;
}

nav>span i {
    float: left;
    position: relative;
    width: 30px;
    height: 3px;
    margin: 2px 0;
    transition: all 0.3s linear 0s;
    background: #eee;
}

nav>span.active i:first-child {
    top: 6px;
    transform: rotate(45deg);
}

nav>span.active i:nth-child(2) {
    transform: rotate(-45deg);
}

nav>span.active i:last-child {
    opacity: 0;
}

nav ul {
    float: left;
    width: 100%;
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 60px 10px 0;
    position: relative;
    z-index: 10;
    background: rgba(0, 0, 0, 0.4);
}

nav ul li {
    float: left;
    width: 100%;
    padding: 10px;
}

nav ul li span {
    float: left;
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    color: #bbb;
    cursor: pointer;
    padding: 5px 0;
    text-decoration: none;
    transition: all 0.3s linear 0s;
}

nav ul li span:hover {
    color: #fff;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  header  */

header {
    float: left;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background: url(../images/bg_header.jpg) no-repeat 60% bottom;
    background-size: cover;
}

header>div {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 500px;
    max-width: 80%;
    height: 300px;
    text-align: center;
}

header>div h1 {
    display: inline-block;
    font-size: 30px;
    line-height: 34px;
    font-weight: 800;
    color: #fff;
    padding: 10px 40px;
    border: 3px solid #ffd670;
    text-transform: uppercase;
    background: rgba(255, 255, 255, 0.2);
}

header>div h2 {
    display: block;
    width: 270px;
    max-width: 100%;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    margin: 0 auto 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
    text-transform: uppercase;
}

header>div p {
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    margin: 0 0 50px;
}

header>div button {
    display: inline-block;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    letter-spacing: 1px;
    padding: 7px 15px;
    border: 1px solid #fff;
    border-radius: 3px;
    outline: 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s linear 0s;
    background: none;
}

header>div button:hover {
    color: #000;
    background: #fff;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  about  */

.about {
    float: left;
    width: 100%;
    padding: 50px;
    text-align: center;
    background: #524664;
}

.about h1 {
    font-size: 30px;
    line-height: 34px;
    color: #fff;
    position: relative;
    text-transform: uppercase;
}

.about h1:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -10px;
    left: 0;
    margin: auto;
    width: 50px;
    height: 2px;
    background: #fff;
}

.about h2 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
}

.about p {
    display: inline-block;
    max-width: 80%;
    font-size: 16px;
    line-height: 24px;
    color: #ddd;
    margin: 20px 0;
}

.about p span {
    display: block;
    font-weight: 600;
    color: #ffd670;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~  my-skills  */

.my_skills {
    float: left;
    width: 100%;
    margin-top: 50px;
}

.my_skills h1 {
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
}

.my_skills ul {
    float: left;
    width: 100%;
    list-style-type: none;
    margin: 30px 0 0;
    padding: 0;
}

.my_skills ul li {
    float: left;
    width: 45%;
    margin: 10px 0;
    text-align: left;
    background: #615474;
}

.my_skills ul li:nth-child(2n-1) {
    margin-right: 10%;
}

.my_skills ul li div {
    float: left;
    padding: 10px;
    background: #ffd670;
}

.my_skills ul li label {
    float: left;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
}

.my_skills ul li span {
    float: right;
    font-weight: 600;
    color: #524664;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~ experience  */

.experience {
    float: left;
    width: 100%;
    padding: 50px;
}

.experience h1 {
    font-size: 30px;
    line-height: 34px;
    color: #000;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

.experience h1:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -10px;
    left: 0;
    margin: auto;
    width: 50px;
    height: 2px;
    background: #000;
}

.experience ul {
    display: block;
    width: 800px;
    max-width: 100%;
    list-style-type: none;
    margin: 50px auto 0;
    padding: 0;
}

.experience ul li {
    float: left;
    width: 50%;
    height: 130px;
    padding: 30px 0;
    position: relative;
}

.experience ul li:nth-child(2n) {
    padding-left: 80px;
    text-align: left;
}

.experience ul li:nth-child(2n-1) {
    padding-right: 80px;
    text-align: right;
}

.experience ul li:nth-child(2n-1):after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    height: 100%;
    background: #ccc;
}

.experience ul li>div {
    display: inline-block;
    width: 140px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    color: #fff;
    margin: 0 auto;
    padding: 10px 20px;
    position: relative;
    text-align: center;
    background: #000;
}

.experience ul li>div:after {
    content: '';
    position: absolute;
}

.experience ul li:first-child>div:after,
.experience ul li:nth-child(5)>div:after {
    right: -10px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #000;
}

.experience ul li:nth-child(4)>div:after,
.experience ul li:nth-child(8)>div:after {
    left: -10px;
    border-top: 10px solid transparent;
    border-right: 10px solid #000;
    border-bottom: 10px solid transparent;
}

.experience ul li i {
    position: absolute;
    top: 42px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    z-index: 1;
    background: #ff5654;
}

.experience ul li:nth-child(2n-1) i {
    right: -7.5px;
}

.experience ul li:nth-child(2n) i {
    left: -12.5px;
}

.experience ul li i:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 7px;
    height: 7px;
    border-radius: 100%;
    background: #fff;
}

.experience ul li label {
    display: block;
    font-size: 18px;
    line-height: 22px;
    font-weight: 800;
    color: #ff5654;
    margin-bottom: 5px;
}

.experience ul li span {
    display: block;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  my_work  */

.my_work {
    float: left;
    width: 100%;
    padding: 50px;
    background: #000;
}

.my_work h1 {
    font-size: 30px;
    line-height: 34px;
    color: #fff;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

.my_work h1:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -10px;
    left: 0;
    margin: auto;
    width: 50px;
    height: 2px;
    background: #fff;
}

.my_work>ul {
    float: left;
    width: 100%;
    padding: 0;
    text-align: center;
}

.my_work>ul li {
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    letter-spacing: 0.5px;
    margin: 0 5px;
    padding: 3px 10px;
    border: 1px solid #eee;
    transition: all 0.3s linear 0s;
}

.my_work>ul li:hover,
.my_work>ul li.active {
    color: #000;
    background: #eee;
}

.my_work_info {
    float: left;
    width: 100%;
}

.projects_box,
.css3_slider_box,
.animation_box,
.others_box {
    display: none;
}

.projects_box.active,
.css3_slider_box.active,
.animation_box.active,
.others_box.active {
    display: block;
    font-size: 16px;
    line-height: 20px;
    color: #eee;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~  project_box  */

.projects_box ul,
.css3_slider_box ul,
.animation_box ul,
.others_box ul {
    float: left;
    width: 100%;
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.projects_box ul li,
.css3_slider_box ul li,
.animation_box ul li,
.others_box ul li {
    display: inline-block;
    width: 200px;
    margin: 10px;
}

.projects_box ul li>div,
.css3_slider_box ul li>div,
.animation_box ul li>div,
.others_box ul li>div {
    float: left;
    width: 100%;
}

.projects_box ul li>div a,
.css3_slider_box ul li>div a,
.animation_box ul li>div a,
.others_box ul li>div a {
    float: left;
    width: 100%;
    text-decoration: none;
}

.projects_box ul li>div a figure,
.css3_slider_box ul li>div a figure,
.animation_box ul li>div a figure,
.others_box ul li>div a figure {
    float: left;
    width: 100%;
    height: 200px;
    margin: 0 0 10px;
    border: 2px solid #fff;
}

.projects_box ul li .project_01 a figure {
    background: url(../images/projects/flo2cash.jpg) no-repeat 0 0;
    background-size: cover;
}

.projects_box ul li .project_02 a figure {
    background: url(../images/projects/quick_inspect.jpg) no-repeat 0 0;
    background-size: cover;
}

.projects_box ul li .project_03 a figure {
    background: url(../images/projects/neojdx.jpg) no-repeat 0 0;
    background-size: cover;
}

.projects_box ul li .project_04 a figure {
    background: url(../images/projects/dashboard_design.jpg) no-repeat 0 0;
    background-size: cover;
}

.projects_box ul li>div a span,
.css3_slider_box ul li>div a span,
.animation_box ul li>div a span,
.others_box ul li>div a span {
    font-size: 13px;
    font-weight: 500;
    color: #fff;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~  css3_slider_box  */

.css3_slider_box ul li .fade_in_out a figure {
    background: url(../images/css3_slider/fade_in_out.jpg) no-repeat 0 0;
    background-size: cover;
}

.css3_slider_box ul li .horizontal a figure {
    background: url(../images/css3_slider/horizontal.jpg) no-repeat 0 0;
    background-size: cover;
}

.css3_slider_box ul li .vertical a figure {
    background: url(../images/css3_slider/vertical.jpg) no-repeat 0 0;
    background-size: cover;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  animation_box  */

.animation_box ul li .css_toggle a figure {
    background: url(../images/animation/css_toggle.jpg) no-repeat 0 0;
    background-size: cover;
}

.animation_box ul li .css3_home a figure {
    background: url(../images/animation/css3_home.jpg) no-repeat 0 0;
    background-size: cover;
}

.animation_box ul li .folding_effect a figure {
    background: url(../images/animation/folding_effect.jpg) no-repeat 0 0;
    background-size: cover;
}

.animation_box ul li .glitched_text a figure {
    background: url(../images/animation/glitched_text.jpg) no-repeat 0 0;
    background-size: cover;
}

.animation_box ul li .hidden_menus a figure {
    background: url(../images/animation/hidden_menus.jpg) no-repeat 0 0;
    background-size: cover;
}

.animation_box ul li .loader_animation a figure {
    background: url(../images/animation/loader_animation.jpg) no-repeat 0 0;
    background-size: cover;
}

.animation_box ul li .login_register_animation a figure {
    background: url(../images/animation/login_register_animation.jpg) no-repeat 0 0;
    background-size: cover;
}

.animation_box ul li .menu_animation a figure {
    background: url(../images/animation/menu_animation.jpg) no-repeat 0 0;
    background-size: cover;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~  others_box  */

.others_box ul li .allert_messages a figure {
    background: url(../images/others/allert_messages.jpg) no-repeat 0 0;
    background-size: cover;
}

.others_box ul li .clear_listing a figure {
    background: url(../images/others/clear_listing.jpg) no-repeat 0 0;
    background-size: cover;
}

.others_box ul li .css_box a figure {
    background: url(../images/others/css_box.jpg) no-repeat 0 0;
    background-size: cover;
}

.others_box ul li .curve_text a figure {
    background: url(../images/others/curve_text.jpg) no-repeat 0 0;
    background-size: cover;
}

.others_box ul li .custom_pop_up a figure {
    background: url(../images/others/custom_pop_up.jpg) no-repeat 0 0;
    background-size: cover;
}

.others_box ul li .interactive_form a figure {
    background: url(../images/others/interactive_form.jpg) no-repeat 0 0;
    background-size: cover;
}

.others_box ul li .list_grid_view a figure {
    background: url(../images/others/list_grid_view.jpg) no-repeat 0 0;
    background-size: cover;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~  contact  */

.contact {
    float: left;
    width: 100%;
    padding: 50px;
    background: url(../images/bg_contact.jpg) no-repeat center 0;
    background-size: cover;
}

.contact h1 {
    font-size: 30px;
    line-height: 34px;
    color: #fff;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

.contact h1:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -10px;
    left: 0;
    margin: auto;
    width: 50px;
    height: 2px;
    background: #fff;
}

.contact ul {
    width: 850px;
    max-width: 100%;
    margin: 50px auto;
    padding: 25px;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.15);
}

.contact ul li {
    float: left;
    width: 350px;
    list-style-type: none;
    padding: 25px 0;
    border-bottom: 1px solid #ccc;
}

.contact ul li:nth-child(2n-1) {
    margin-right: 100px;
}

.contact ul li:nth-child(3),
.contact ul li:nth-child(4) {
    border: 0;
}

.contact ul li label {
    float: left;
    width: 150px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
}

.contact ul li p {
    float: left;
    width: 200px;
    font-weight: 600;
    color: #000;
    margin: 0;
}

.contact ul li p * {
    color: #000;
    text-decoration: none;
}

.contact ul li .icon_facebook,
.contact ul li .icon_linkedin {
    float: left;
    width: 30px;
    height: 30px;
    border: 1.5px solid #ddd;
    border-radius: 50%;
    transition: all 0.3s linear 0s;
}

.contact ul li .icon_facebook {
    margin-right: 10px;
    background: url(../images/icon_facebook.png) no-repeat center;
    background-size: 22px;
}

.contact ul li .icon_linkedin {
    background: url(../images/icon_linkedin.png) no-repeat center;
    background-size: 16px;
}

.contact ul li .icon_facebook:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.contact ul li .icon_linkedin:hover {
    background-color: rgba(255, 255, 255, 0.2);
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~  media-queries  */

@media (max-width: 991px) {
    .contact ul li {
        width: 45%;
    }
    .contact ul li:nth-child(2n-1) {
        margin-right: 10%;
    }
    .contact ul li p {
        width: 100%;
        margin: 5px 0 0;
    }
}

@media (max-width: 920px) {
    .my_skills ul li {
        width: 100%;
        margin-right: 0 !important;
    }
}

@media (max-width: 767px) {
    nav ul {
        background: rgba(0, 0, 0, 0.9);
    }
}

@media (max-width: 640px) {
    header>div h1 {
        font-size: 20px;
        line-height: 24px;
    }
    header>div h2 {
        font-size: 16px;
        line-height: 20px;
    }
    header>div p,
    header>div button {
        font-size: 12px;
        line-height: 16px;
    }
    .about,
    .experience,
    .my_work,
    .contact {
        padding: 20px;
    }
    .about h1 {
        margin: 10px 0;
    }
    .about p {
        font-size: 14px;
        line-height: 22px;
    }
    .my_skills {
        margin-top: 30px;
    }
    .experience ul li:after,
    .experience ul li>div:after,
    .experience ul li i {
        display: none;
    }
    .experience ul li {
        width: 100%;
        height: auto;
        margin: 10px 0;
        padding: 0 !important;
        text-align: left !important;
    }
    .experience ul li>div {
        width: 100%;
    }
    .experience ul li:nth-child(2) {
        padding-bottom: 20px !important;
        border-bottom: 1px solid #000;
    }
    .experience ul li:nth-child(3) {
        margin-top: 60px;
        padding-bottom: 20px !important;
        border-bottom: 1px solid #000;
    }
    .experience ul li:nth-child(4) {
        top: -140px;
    }
    .experience ul li:nth-child(5) {
        margin-top: -50px;
    }
    .experience ul li:nth-child(6) {
        border-bottom: 1px solid #000;
        padding-bottom: 20px !important;
    }
    .experience ul li:nth-child(7) {
        margin-top: 60px;
        border-bottom: 1px solid #000;
        padding-bottom: 20px !important;
    }
    .experience ul li:nth-child(8) {
        top: -140px;
        margin-bottom: 0;
    }
    .my_work>ul li {
        float: left;
        width: 45%;
    }
    .my_work>ul li:nth-child(1) {
        margin: 0 7% 0 0;
    }
    .my_work>ul li:nth-child(2) {
        margin: 0;
    }
    .my_work>ul li:nth-child(3) {
        margin: 10px 7% 0 0;
    }
    .my_work>ul li:nth-child(4) {
        margin: 10px 0 0;
    }
    .contact ul li {
        width: 100%;
    }
    .contact ul li:nth-child(3) {
        border-bottom: 1px solid #ccc;
    }
}

@media (max-width: 420px) {
    .my_skills ul li label,
    .my_skills ul li span {
        font-size: 13px;
    }
    .my_skills ul li span {
        width: 100%;
    }
}
